<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Analytics</title>
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i></i>
      <span class="logo_name">Mempage</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="{% url 'dashboard' %}">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="{% url 'analytics' %}" class="active">
          <i class='bx bx-pie-chart-alt-2'></i>
          <span class="links_name">Analytics</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-bar-chart-alt-2'></i>
          <span class="links_name">Real Time Graph</span>
        </a>
      </li>
      <li>
        <a href="{% url 'about_page' %}">
          <i class='bx bx-user'></i>
          <span class="links_name">About</span>
        </a>
      </li>
      <li class="log_out">
        <a href="">
          <i class='bx bx-log-in'></i>
          <span class="links_name">
            Log out</span>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Analytics</span>
      </div>
      </div>
    </nav><br><br><br><br>
    <div class="sales-boxes">
      <div class="recent-sales box">
        <div class="title" style="text-align: center;"></div>
        <div style="text-align:center; margin-bottom: 10px;">
          <div class="selectoption" style="display:inline;text-align: right;margin-left: 720px;">Select option:</div>

          <select id="option" style="cursor: pointer; float: right;margin-right: 115px;">
            <option value="none">Select</option>
            {% for device in devicest %}
            <option value="{{ device }}">{{ device }}</option>
            {% endfor %}

        </div>
        </select>
        <br><br>
        <div id="plot-container"></div>


        <h1>Devices Location</h1>
        <!-- This is where the map will be displayed -->
        <div id="map" style="height: 400px; width: auto; margin: 10px 90px;"></div>


        <script>
          var map = L.map('map').setView([17.509708, 78.420601], 13);

          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
          }).addTo(map);

          var marker = L.marker([51.5, -0.09]).addTo(map);
          function updateMap(latitude, longitude) {
            map.setView([latitude, longitude], 15);
            L.marker([latitude, longitude], popup = 'pico_1').addTo(map);
          }
        </script>

        <script>
          $(document).ready(function () {
            $('#option').change(function () {
              var option = $(this).val();
              $.ajax({
                type: 'POST',
                url: "{% url 'ajaxreq' %}",
                data: {
                  'option': option,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                  var img = $('<img>').attr('src', 'data:image/png;base64,' + response.image).css({
                    'height': '400px',
                    'width': 'auto',
                    'margin-bottom': '20px'
                  });
                  var img2 = $('<img>').attr('src', 'data:image/png;base64,' + response.temper).css({
                    'height': '400px',
                    'width': 'auto'
                  });

                  $('#plot-container').html(img);
                  $('#plot-container').append(img2);
                  updateMap(response.latitude, response.longitude);

                }
              });
            });
          });
          let sidebar = document.querySelector(".sidebar");
          let sidebarBtn = document.querySelector(".sidebarBtn");
          sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
              sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
              sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
          }
        </script>
</body>

</html>