<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i></i>
      <span class="logo_name">Mempage</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="{% url 'dashboard' %}" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>


      <li>
        <a href="{% url 'analytics' %}">
          <i class='bx bx-pie-chart-alt-2'></i>
          <span class="links_name">Analytics</span>
        </a>
      </li>
      <li>

        <a href="#">
          <i class='bx bx-bar-chart-alt-2'></i>
          <span class="links_name">Real Time Graph</span>
        </a>
      </li>



      <li>
        <a href="{% url 'about_page' %}">
          <i class='bx bx-user'></i>
          <span class="links_name">About</span>
        </a>
      </li>






      <li class="log_out">
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">
          <i class='bx bx-log-in'></i>
          <span class="links_name">
            Log out</span>
        </a>
        {% else%}
        <a href="{% url 'login' %}">
          <i class='bx bx-log-in'></i>
          <span class="links_name">
            Log in</span>
        </a>
        {% endif %}
      </li>

    </ul>

  </div>




  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>




      </div>

    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Number of Sensors Active</div>
            <div class="number"></div>
            <div class="indicator">

              <span class="text" style="font-size: 20px; margin: 0px 75px;">
                {{active_count}}
                / {{total_count}}</span>
            </div>
          </div>

        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Data Points</div>
            <div class="number"></div>
            <div class="indicator">

              <span class="text"></span>
            </div>
          </div>

        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Rasp Readings</div>
            <div class="number"></div>
            <div class="indicator">

              <span class="text">


                Motion Classification with Rasp Accel<br>


              </span>
            </div>
          </div>


        </div>


        <div class="right-side">

          <div class="number"></div>
          <div class="indicator">

            <span class="text"></span>
          </div>
        </div>

      </div>
    </div>
    <hr><br>
    <center>
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Recent Analysis </div>
          <div class="sales-details">
            <ul class="details">
              <li class="topic">

                <!-- Slide Show -->



              </li>
              <label for="cars">Choose a chart:</label>

              <select name="cars" id="cars">
                <option value="Donut">Donut</option>
                <option value="Bar">Bar</option>
                <option value="scatter">scatter</option>
                <option value="stack">stack</option>
              </select>
              <li><a href="#"></a></li>
              <img src="data:image/png;base64,{{ plot_img1 }}" alt="Matplotlib Plot" width="auto" height="310px">

              <img src="data:image/png;base64,{{ plot_img2 }}" alt="Matplotlib Plot" width="auto" height="auto">




              <li><a href="#"></a>
                Placeholder text used to demonstrate the graphic elements of a
                document or visual presentation.</li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a>
            </ul>
    </center><br>
    <hr>
    <br><br><br><br><br><br><br><br>
    <center>
      <script>
        document.write("<p>" + Date() + "</p>");
      </script>
      </li>
      <center>

        <!-- Footer -->
        <footer>

          Developed by <a>Sreekanth, Sai Kiran & Uday Kiran</a>

        </footer>



        <script>
          let sidebar = document.querySelector(".sidebar");
          let sidebarBtn = document.querySelector(".sidebarBtn");
          sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
              sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
              sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
          }
        </script>




</body>

</html>